<div class="card">
  <%= link_to scene_path(scene), class: 'image' do %>
    <%= image_tag screenshot_path(scene) %>
  <% end %>
  <div class="content">
    <div class="header"><%= scene.title || 'No Title' %></div>
    <div class="meta">
      <a><i class="like icon"></i></a>
    </div>
    <div class="description">
      <% if scene.details %>
        <%= scene.details.truncate(300, omission: '... (continued)') %>
      <% else %>
        <%= "No Details" %>
      <% end %>
    </div>
  </div>
  <div class="extra content">
    <span>
      <i class="record icon"></i>
      <% if scene.studio %>
        <%= link_to scene.studio.name, '' %>
      <% else %>
        No Studio
      <% end %>
    </span>
  </div>
  <div class="extra content">
    <span>
      <i class="user icon"></i>
      <% if scene.performers.count > 0 %>
        <% scene.performers.each do |performer| %>
          <div class="ui label"><%= performer.name %></div>
        <% end %>
      <% else %>
        No Performers
      <% end %>
    </span>
  </div>
  <div class="extra content">
    <span>
      <i class="tags icon"></i>
      <!-- TODO -->
      No Tags
    </span>
  </div>
  <!-- <div class="extra content">
    <span class="right floated">
      More Metadata
    </span>
    <span>
      <i class="tags icon"></i>
      None
    </span>
  </div> -->
</div>
