<div class="card">
  <%= link_to scene_path(scene), class: 'image previewable' do %>
    <video class="preview" loop poster="<%= screenshot_path(scene) %>">
      <source src="<%= scene_preview_path(scene) %>" type="video/webm" />
    </video>
  <% end %>
  <div class="content">
    <div class="header"><%= scene.title || scene.path %></div>
    <% if scene.rating || scene.date %>
    <div class="meta">
      <% if scene.date %>
      <span class="date"><%= scene.date.strftime('%m/%d/%Y') %></span>
      <% end %>
      <% if scene.rating %>
      <div class="ui tiny rating" data-rating="<%= scene.rating %>" data-max-rating="5"></div>
      <% end %>
    </div>
    <% end %>
    <div class="description">
      <% if scene.details %>
        <p class="pre"><%= scene.details.truncate(300, omission: '... (continued)') %></p>
      <% else %>
        <%= "No Details" %>
      <% end %>
    </div>
  </div>
  <div class="extra content">
    <span>
      <i class="record icon"></i>
      <% if scene.studio %>
        <%= link_to scene.studio.name, '' %>
      <% else %>
        No Studio
      <% end %>
    </span>
  </div>
  <div class="extra content">
    <span>
      <div class="ui labels">
        <i class="user icon"></i>
        <% if scene.performers.count > 0 %>
          <% scene.performers.each do |performer| %>
            <%= link_to performer.name, performer, class: 'ui label' %>
          <% end %>
        <% else %>
          No Performers
        <% end %>
      </div>
    </span>
  </div>
  <div class="extra content">
    <span>
      <i class="tags icon"></i>
      <% if scene.tags.count > 0 %>
        <% scene.tags.each do |tag| %>
          <%= link_to tag.name, scenes_path(filter_tags: tag.id), class: 'ui label' %>
        <% end %>
      <% else %>
        No Tags
      <% end %>
    </span>
  </div>
</div>
