<script src='https://content.jwplatform.com/libraries/L7fM8L0h.js'></script>
<script>jwplayer.key='';</script>

<script type="text/javascript">
$(function() {
  const player = jwplayer('player').setup({
    file: '<%= stream_path @scene %>.mp4',
    image: '<%= screenshot_path(@scene) %>.jpg',
    tracks: [{
      file: "/scenes/<%= @scene.checksum %>_thumbs.vtt",
      kind: "thumbnails"
    }],
    // {
    //   file: "<%= scene_chapter_vtt_path(@scene) %>.vtt",
    //   kind: "chapters"
    // }],
    primary: 'html5',
    autostart: false,
    volume: 50
  });
});
</script>

<div class="ui container segments">
  <div class="ui top attached segment">
    <% if @scene.is_streamable %>
      <div id="player">Loading the player...</div>
    <% else %>
      <%= link_to "#{scene_playlist_path(@scene)}.m3u8", class: 'ui fluid image' do %>
        <%= image_tag screenshot_path(@scene) %>
      <% end %>
    <% end %>

    <div class="ui right rail">
      <div class="ui segment">
        <div class="ui list">
          <%= link_to "Edit", edit_scene_path(@scene), class: 'item' %>
        </div>
      </div>
    </div>
  </div>

  <div class="ui attached segment">
    <h1 class="ui header">
      <%= @scene.title || 'No Title' %>
      <% if @scene.date %>
      <div class="sub header"><%= @scene.date.strftime('%m/%d/%Y') %></div>
      <% end %>
    </h1>
  </div>

  <% if @scene.details && !@scene.details.empty? %>
  <div class="ui attached segment">
    <h3>Details</h3>
    <p class="pre"><%= @scene.details %></p>
  </div>
  <% end %>

  <% if @scene.performers.count > 0 %>
  <div class="ui attached segment">
    <h3>Performers</h3>
    <div class="ui four centered stackable link cards">
      <% @scene.performers.each do |performer| %>
        <%= render performer %>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @scene.tags.count > 0 %>
  <div class="ui attached segment">
    <h3>Tags</h3>
    <div class="ui labels">
      <% @scene.tags.each do |tag| %>
        <%= link_to tag.name, scenes_path(filter_tags: tag.id), class: 'ui label' %>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @scene.gallery %>
  <div class="ui attached segment">
    <h3 class="ui header">
      Gallery
      <%= link_to "View All", gallery_path(@scene.gallery), class: 'sub header' %>
    </h3>
    <div class="ui four centered stackable link cards">
      <% 4.times do |i| %>
      <div class="card">
        <%= link_to "", gallery_file_path(@scene.gallery, index: i), class: 'small gallery image', style: "background-image:url(#{gallery_file_path(@scene.gallery, index: i)});" %>
        <div class="content">
          <div class="header"><%= @scene.gallery.files[i].name || 'No Title' %></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>

  <div class="ui bottom attached segment">
    <div class="ui list">
      <a class="clippable item" title="Click to copy" data-clipboard-text="<%= @scene.checksum %>">
        <i class="privacy icon"></i>
        <div class="content">
          <div class="header">Checksum</div>
          <div class="description"><%= @scene.checksum %></div>
        </div>
      </a>
      <a class="clippable item" title="Click to copy" data-clipboard-text="<%= @scene.path %>">
        <i class="folder open outline icon"></i>
        <div class="content">
          <div class="header">Path</div>
          <div class="description"><%= @scene.path %></div>
        </div>
      </a>
      <% if @scene.url %>
      <a class="clippable item" title="Click to copy" data-clipboard-text="<%= @scene.url %>">
        <i class="server icon"></i>
        <div class="content">
          <div class="header">URL</div>
          <div class="description"><%= @scene.url %></div>
        </div>
      </a>
      <% end %>
    </div>
  </div>
</div>
