<h4 class="ui dividing header">Performer Information</h4>
<div class="field">
  <div class="equal width fields">
    <div class="field">
      <label>Name</label>
      <%= f.text_field :name, placeholder: 'Name' %>
    </div>
    <div class="field">
      <label>Birth Date (YYYY-MM-DD)</label>
      <%= f.text_field :birthdate, placeholder: 'YYYY-MM-DD' %>
    </div>
    <div class="field">
      <label>Ethnicity</label>
      <div id="studio-filter" class="ui fluid search selection dropdown">
        <%= f.hidden_field :ethnicity %>
        <i class="dropdown icon"></i>
        <div class="default text">Ethnicity</div>
        <div class="menu">
          <div class="item" data-value="white">White</div>
          <div class="item" data-value="black">Black</div>
          <div class="item" data-value="asian">Asian</div>
          <div class="item" data-value="hispanic">Hispanic</div>
        </div>
      </div>
    </div>
  </div>
  <div class="equal width fields">
    <div class="field">
      <label>URL</label>
      <%= f.url_field :url, placeholder: 'URL' %>
    </div>
    <div class="field">
      <label>Twitter Handle</label>
      <%= f.text_field :twitter, placeholder: 'Twitter Handle' %>
    </div>
  </div>
  <div class="field">
    <label>Image</label>
    <div class="fields">
      <div class="fourteen wide field">
        <%= text_field_tag :image_path, nil, placeholder: 'Image Path' %>
      </div>
      <div class="two wide field">
        <div id="server-image-button" class="ui fluid button">Select</div>
      </div>
    </div>
  </div>
</div>
<%= f.button "Submit", class: "ui primary submit button" %>


<%= render 'server_images_modal' %>
