<h4 class="ui dividing header">Performer Information</h4>
<div class="field">
  <div class="equal width fields">
    <div class="field">
      <label>Title</label>
      <%= f.text_field :name, placeholder: 'Name' %>
    </div>
    <div class="field">
      <label>URL</label>
      <%= f.url_field :url, placeholder: 'URL' %>
    </div>
  </div>
  <div class="field">
    <label>Image</label>
    <div class="fields">
      <div class="fourteen wide field">
        <%= text_field_tag :image_path, nil, placeholder: 'Image Path' %>
      </div>
      <div class="two wide field">
        <div id="server-image-button" class="ui fluid button">Select</div>
      </div>
    </div>
  </div>
</div>
<%= f.button "Submit", class: "ui primary submit button" %>


<%= render 'server_images_modal' %>
