<h4 class="ui dividing header">Performer Information</h4>
<div class="field">
  <div class="equal width fields">
    <div class="field">
      <label>Title</label>
      <%= f.text_field :name, placeholder: 'Name' %>
    </div>
    <div class="field">
      <label>URL</label>
      <%= f.url_field :url, placeholder: 'URL' %>
    </div>
  </div>
  <div class="field">
    <label>Image</label>
    <div class="fields">
      <div class="fourteen wide field">
        <%= text_field_tag :image_path, nil, placeholder: 'Image Path' %>
      </div>
      <div class="two wide field">
        <div id="find-image-button" class="ui fluid button">Find</div>
      </div>
    </div>
  </div>
</div>
<%= f.button "Submit", class: "ui primary submit button" %>


<div class="ui modal">
  <div class="header">Header</div>
  <div class="content">
    <div class="ui middle aligned list">
      <% @files.each do |file| %>
      <div class="ui item filepath" data-value="<%= file[:path] %>">
        <img class="ui small image" src="data:image/jpeg;base64,<%= file[:data] %>" />
        <div class="content"><%= file[:path] %></div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
  </div>
</div>

<script>
$(function() {
  $('.modal').modal('attach events', '#find-image-button', 'show');
  $('.modal').on('click', '.filepath', function() {
    $('.modal').modal('hide');
    $('#image_path').val($(this).data('value'))
  });
});
</script>
