<div class="card">
  <%= link_to performer_path(performer), class: 'performer image', style: "background-image:url(#{performer_image_path(performer)});" do %>
    <%#= image_tag performer_image_path(performer) %>
  <% end %>
  <div class="content">
    <div class="header"><%= performer.name %></div>
    <div class="meta">
      <% if defined?(scene) && scene.date && performer.birthdate %>
      <span class="date"><%= performer.age(date: scene.date) %> years old in scene.</span>
      <% elsif performer.birthdate %>
      <span class="date"><%= performer.age %> years old.</span>
      <% end %>
    </div>
  </div>
  <div class="extra content">
    <span>
      <div class="ui heart rating" data-rating="<%= performer.favorite ? 1 : 0 %>" data-max-rating="1"></div>
    </span>
  </div>
</div>
