<script src='https://content.jwplatform.com/libraries/L7fM8L0h.js'></script>
<script>jwplayer.key='';</script>

<div class="ui container segments">
  <div class="ui top attached segment">
    <div class="ui two column divided middle aligned very relaxed stackable grid" style="position: relative;">
      <div class="column">
        <%= image_tag performer_image_path(@performer), class: 'ui fluid bordered image' %>
        <div class="ui large horizontal divided list">
          <%= link_to scenes_path(filter_performers: @performer.id), class: 'item' do %>
            Scenes
          <% end %>
          <a class="item">
            Galleries
          </a>
        </div>
      </div>
      <div class="center aligned column">
        <div class="ui huge very relaxed list">
          <div class="item">
            <div class="header">Name</div>
            <%= @performer.name %>
          </div>
          <% if @performer.birthdate %>
          <div class="item">
            <div class="header">Birthdate</div>
            <%= "#{@performer.birthdate.strftime('%m/%d/%Y')} (Age #{@performer.age})" %>
          </div>
          <% end %>
          <% if @performer.ethnicity %>
          <div class="item">
            <div class="header">Ethnicity</div>
            <%= @performer.ethnicity.capitalize %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="ui right rail">
      <div class="ui segment">
        <div class="ui list">
          <%= link_to "Edit", edit_performer_path(@performer), class: 'item' %>
        </div>
      </div>
    </div>
  </div>

  <div class="ui attached segment">
    <h3>Social</h3>
    <div class="ui horizontal list">
      <% if @performer.twitter && !@performer.twitter.empty? %>
      <div class="item">
        <i class="big twitter icon"></i>
        <div class="content">
          <%= link_to "@#{@performer.twitter}", "http://www.twitter.com/#{@performer.twitter}" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="ui bottom attached segment">
    <div class="ui list">
      <%= link_to @performer.url, class: 'item', title: 'More information' do %>
        <i class="linkify icon"></i>
        <div class="content">
          <div class="header">URL</div>
          <div class="description"><%= @performer.url %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
