<%= form_for(@gallery, url: gallery_url(@gallery), html: {method: 'patch', class: 'ui form'}) do |f| %>
  <h4 class="ui dividing header">Gallery Information</h4>
  <div class="field">
    <div class="field">
      <label>Title</label>
      <%= f.text_field :title, placeholder: 'Title' %>
    </div>
    <div class="field">
      <label>Performers</label>
      <div id="performer-filter" class="ui fluid multiple search selection dropdown">
        <%= f.hidden_field :performer_ids, value: @gallery.performer_ids.join(',') %>
        <i class="dropdown icon"></i>
        <div class="default text"><i class="user icon"></i>Performers</div>
        <div class="menu">
          <% Performer.all.each do |performer| %>
            <div class="item" data-value="<%= performer.id %>"><%= performer.name %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= f.button "Submit", class: "ui primary submit button" %>
<% end %>
