<div class="ui container segments">
  <div class="ui top attached segment">
    <h3><%= @gallery.title || 'No Title' %></h3>

    <div class="ui right rail">
      <div class="ui segment">
        <div class="ui list">
          <%= link_to "Edit", edit_gallery_path(@gallery), class: 'item' %>
        </div>
      </div>
    </div>
  </div>

  <div class="ui bottom attached segment">
    <%= "#{@count} files in zip located at #{@gallery.path}" %>
  </div>
</div>

<div class="ui three doubling cards">
  <% @images.count.times do |i| %>
  <div class="card">
    <%= link_to "", gallery_file_path(@gallery, index: i + @offset), class: 'gallery image', style: "background-image:url(#{gallery_file_path(@gallery, index: i + @offset)});" %>
    <div class="content">
      <div class="header"><%= @images[i].name || 'No Title' %></div>
    </div>
  </div>
  <% end %>
</div>

<%= paginate @images %>
