<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.16/clipboard.min.js"></script>
  </head>

  <body>
    <div class="ui inverted labeled icon left inline vertical sidebar menu">
      <%= link_to root_path, class: 'item' do %>
        <i class="home icon"></i>
        Home
      <% end %>
      <%= link_to scenes_path, class: 'item' do %>
        <i class="record icon"></i>
        Scenes
      <% end %>
      <%= link_to galleries_path, class: 'item' do %>
        <i class="record icon"></i>
        Galleries
      <% end %>
      <%= link_to performers_path, class: 'item' do %>
        <i class="user icon"></i>
        Performers
      <% end %>
      <%= link_to studios_path, class: 'item' do %>
        <i class="record icon"></i>
        Studios
      <% end %>
      <%= link_to tags_path, class: 'item' do %>
        <i class="tags icon"></i>
        Tags
      <% end %>
    </div>

    <div class="ui top fixed menu">
      <div class="ui container">
        <a id="main-menu-button" class="item">
          <i class="sidebar icon"></i>
        </a>
        <div class="right menu">
          <div class="ui right aligned category search item">
            <div class="ui transparent icon input">
              <input class="prompt" placeholder="Search..." type="text">
              <i class="search link icon"></i>
            </div>
            <div class="results"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="pusher">
      <div class="ui main container">
        <%= yield %>
      </div>
    </div>

    <script>
      $('.ui.sidebar')
        .sidebar('attach events', '#main-menu-button')
        .sidebar('setting', 'transition', 'slide along')
        .sidebar('setting', 'dimPage', false);

      new Clipboard('.clippable');
      $('.clippable').popup({hoverable: true, position: 'left center'});
    </script>
  </body>
</html>
